# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vrytbyajzatzkvsqynlb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyeXRieWFqemF0emt2c3F5bmxiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMzA1NDcsImV4cCI6MjA5NDkwNjU0N30.UcKzxrj647aR1QfTAgEo2ryoOLdanBerEmg1eEetqZI

# Anthropic
GEMINI_API_KEY=AIzaSyC2sTSEo_m34C-Zm4Gd4zhf1VXgJYytKd8

# Resend
RESEND_API_KEY=re_YfcYG2YW_4fWbov48T79XKN25Viv5SyoJ
RESEND_FROM_EMAIL=spendpilot@resend.dev